<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>API Model Configuration</title>

  <!-- CSS externo -->
  <link rel="stylesheet" type="text/css" href="../css/cabecera.css">
</head>

<body>
  <div class="topbar">
    <div class="brand-left">
      <img src="../imagen/panel-epo.png" alt="Panel EPO" class="logo-wide" width=265px height=70px>
	  <img src="../imagen/logo-epo.jpg" floating align=right alt="EPO" class="logo-square" width=70px height=70px>
    </div>

    <h1 class="title">
      EPO Codefest API Model Configuration Win! Model
    </h1>
      </div>
</body>
</html>
