<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
</head>

<frameset rows="71,*" cols="*" frameborder="NO" border="0" framespacing="0">
  <frame src="backendAdmin/cabecera" name="topFrame" scrolling="NO" noresize>
  <frameset cols="170,*" frameborder="NO" border="0" framespacing="0">
    <frameset rows="100" cols="*" frameborder="NO" border="0" framespacing="0">        
        <frame src="backendAdmin/menulateral" name="leftFrame" scrolling="NO" noresize>
    </frameset>
    <frame src="backendAdmin/estados"  name="mainFrame" scrolling="YES">
  </frameset>
</frameset>
<noframes><body>
    </body></noframes>

</html>